<!DOCTYPE HTML>
<html>
  <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1 " />
   <script src="http://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script> 
  </head>
  <body>
    </div>

    <div class="navbar">
      <div class="navbar_header">
        <a class="navbar_brand" href="#">
          Z 的博客
        </a>
      </div>

    
    </div>

    <div class="post_content">
      <div id="primary_content"></div>

    </div>

    <div class="footer">
      <div class="footer_inner">
        <a href="http://openwrt.pro" target="_blank" >OpenWrt开发者之家</a>
      </div>
    </div>
    <script src="index.js"></script>
    <link href="style.css" rel="stylesheet" />
  </body>

</html>
