<!DOCTYPE HTML>
<html>
  <head>
   <meta charset="UTF-8" />
   <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script> 
  </head>
  <body>
    </div>

    <div class="navbar">
      <div class="navbar_header">
        <a class="navbar_brand" href="#">
          Z 的博客
        </a>
      </div>

    
    </div>

    <div class="post_content">
      <div id="primary_content"></div>

    </div>

    <div class="footer">
    <script src="index.js"></script>
    <link href="index.css" rel="stylesheet" />
  </body>

</html>
